<!DOCTYPE html>
<html>

<head>
  <title>Flight Game</title>
  <link rel="stylesheet" type="text/css" href="static/css/game_menu.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <!-- <script src="https://unpkg.com/requirejs@2.3.6/bin/r.js"> </script> -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>

<body>
  <div id="map"></div>
  <div id="gameMenu">
    <button onclick="showMenu('popup-menu')">Play</button>
    <button onclick="showTutorialPopup()">Tutorial</button>
    <button onclick="showAboutPopup()">About</button>
  </div>
  <div id="popup">
    <div id="popup-menu">
      <label for="continent">Select Continent:</label>
      <select id="continent">
        <option value="EU">Europe</option>
        <option value="AS">Asia</option>
        <option value="AF">Africa</option>
        <option value="NA">North America</option>
      </select>
      <br>

      <label for="map_size">Map size:</label>
      <select id="map_size">
        <option value="7">Small</option>
        <option value="14">Medium</option>
        <option value="20">Big</option>
      </select>
      <br>

      <label for="players_amount">Number of players:</label>
      <input type="text" id="players_amount" placeholder="Enter number of players">


      <button onclick="main()">Continue</button>
    </div>
  </div>
  <div id="aboutPopup">
    <span class="close" onclick="closeAboutPopup()">&times;</span>
    <p>Game is made by Jesper, Anatolii, Aleksandr, Phuc, German.</p>
  </div>
  <div id="tutorialPopup">
    <span class="close" onclick="closeTutorialPopup()">&times;</span>
    <p>Tutorial of the game...</p>
  </div>

  <script src="static/js/main.js" defer></script>
