<!DOCTYPE html>
<html>

<head>
  <title>Flight Game</title>
  <link rel="stylesheet" type="text/css" href="static/css/game_menu.css" />
  <script src="static/js/main.js" defer></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
</head>

<body>
  <div id="map"></div>
  <div id="gameMenu">
    <button onclick="showMenu('popup-menu')">Play</button>
    <button onclick="showTutorialPopup()">Tutorial</button>
    <button onclick="showAboutPopup()">About</button>
  </div>
  <div id="popup">
    <div id="popup-menu">
      <label for="continent">Select Continent:</label>
      <select id="continent">
        <option value="EU">Europe</option>
        <option value="AS">Asia</option>
        <option value="AF">Africa</option>
        <option value="NA">North America</option>
      </select>
      <br>

      <label for="size_map">Map size:</label>
      <select id="size_map">
        <option value="7">Small</option>
        <option value="14">Medium</option>
        <option value="20">Big</option>
      </select>
      <br>

      <label for="playernum">Number of players:</label>
      <input type="text" id="playernum" placeholder="Enter number of players">


      <button onclick="main()">Continue</button>
    </div>
  </div>
  <div id="aboutPopup">
    <span class="close" onclick="closeAboutPopup()">&times;</span>
    <p>Game is made by Jesper, Anatolii, Aleksandr, Phuc, German.</p>
  </div>
  <div id="tutorialPopup">
    <span class="close" onclick="closeTutorialPopup()">&times;</span>
    <p>Tutorial of the game...</p>
  </div>

  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
  <script>
    // Initialize the leaflet map 
    const map = L.map('map');

    // Get the tile layer from OpenStreetMaps 
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      // Specify the maximum zoom of the map 
      maxZoom: 19,
      // Set the attribution for OpenStreetMaps 
      attribution: '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Set the view of the map 
    // with the latitude, longitude and the zoom value 
    map.setView([48.8584, 2.2945], 2);

    function showMenu(menu) {
      // Hide all menus
      document.getElementById('popup-menu').style.display = 'none';
      document.getElementById('tutorialPopup').style.display = 'none';
      document.getElementById('aboutPopup').style.display = 'none';

      // Show the selected menu
      document.getElementById(menu).style.display = 'block';

      // Show the popup screen
      document.getElementById('popup').style.display = 'block';
    }

    function showAboutPopup() {
      // Show the about popup screen
      document.getElementById('aboutPopup').style.display = 'block';
    }

    function closeAboutPopup() {
      // Hide the about popup screen
      document.getElementById('aboutPopup').style.display = 'none';
    }

    function showTutorialPopup() {
      // Show the about popup screen
      document.getElementById('tutorialPopup').style.display = 'block';
    }

    function closeTutorialPopup() {
      // Hide the about popup screen
      document.getElementById('tutorialPopup').style.display = 'none';
    }

    function closePopup() {
      // Hide the popup screen
      document.getElementById('popup').style.display = 'none';
    }
  </script>
</body>

</html>
